<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/CSS/home.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="/ICONS/Icon.png">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" media="screen and (max-width:1307px)" href="/CSS/Phone/phone-home.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- <link rel="stylesheet" media="screen and (max-width: 900px)" href="/phone.css" /> -->
    <title>Home Page</title>
  </head>

  <body>
    <div id="loader_bg">
      <div id="loader">
        
      </div>
    </div>
    <div id="info-section">
      <div id="contact">
        <div id="email">
          <img src="/ICONS/EmailReal.png" alt="Email" />
          <a href = "mailto:sparky58pubg@gmail.com?subject = Feedback&body = Message">
            petadoption@gmail.com
            </a>
        </div>
        <div id="phone">
          <img src="/ICONS/Phone.png" alt="Phone" />
          <p>+91 0123456789</p>
        </div>
      </div>
      <div id="social">
        <div id="facebook">
          <a href="https://www.facebook.com/profile.php?id=100077960493601" target="blank"><img src="/ICONS/Facebook.png" alt="Facebook" /></a>
        </div>
        <div id="instagram">
         <a href="https://www.instagram.com/stra.yhelper/" target="blank"><img src="/ICONS/Instagram-icon-WHITE.png" alt="Instagram" /></a>
        </div>
      </div>
    </div>
    <nav>
      <div class="logo">
        <h1>StrayHelper</h1>
        
        <div class="list hidden">
          <a href="/home">Home</a>
          <a href="/adopt">Adopt a Pet</a>
          <a href="/blog">Blog</a>
          <a href="/#testimonials">Contact Us</a>
          <a href="/submit">Submit Pet</a>
          <a href="/shelters">Shelters</a>
          <a href="/shelter-register">Shelter Registration</a>
        </div>
        <div class="button" style="display: flex; flex-direction: row-reverse; padding-right: 20px; align-items: center; width: 10%;">
        
            <p style="margin-left: 20px; font-size: 20px;"><%= name%></p>
             <img src="/ICONS/User.png" alt="" style="width: 2em; height: 2em;">
        
        </div>
        <div class="burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>

      <div
        id="shape"
        data-background="/BG/header_shape.png"
        style="background-image: url('/BG/header_shape.png')"
      ></div>
    </nav>

    <section id="bg">
      <div id="quote" data-aos="fade-down">
        <h1>Pets are not our whole life, but they make our life whole</h1>
        <p>
           Money can buy you a fine dog, but only love can make him wag his tail    Pet is one of being on earth that loves you more than you love yourself
         </p>
        <a href="/adopt" id="adopt-now" style="text-align: center;">Adopt Now</a>
      </div>
    </section>
    <h1 id="why">Why To Choose Us?</h1>
    <section id="choose" data-aos="fade-up">
      <div id="dogs-adopted">
        <img src="/DOODLES/Dog2.png" alt="" />
        <h2>Dogs Adopted</h2>
        <p id="dog-counter">70</p>
      </div>
      <div id="cats-adopted">
        <img src="/DOODLES/Cat2.png" alt="" />
        <h2>Cats Adopted</h2>
        <p id="cat-counter">60</p>
      </div>
      <div id="shelters">
        <img src="/DOODLES/Shelter.png" alt="" />
        <h2 id="shelter-h2">Pets to Shelters</h2>
        <p id="shelter-counter">110</p>
      </div>
    </section>

    <section id="perspective" data-aos="fade-up">
      <div id="mission">
        <h1>Our Mission</h1>
        <p>
         Shape the future of the Internet by creating unprecedented value and opportunity for our customers, employees, investors, ecosystem partners and animal welfare volunteers.
        </p>
      </div>
      <div id="vision">
        <h1>Our Vision</h1>
        <p>
          To become the best animal welfare volunteers in the world and guide every animal on this planet to evolve in a better manner.
        </p>
      </div>
    </section>

    <h1 id="gallery-h1">Pets Available For Adoption</h1>
    <section id="gallery" data-aos="fade-up">
      <% if(pets.length<4){ %>
        <% for(let i=0; i<pets.length; i++) {%>
          <div id="cards">
            <div class="front face">
              <img src="<%=pets[i].image%>" alt="" />
            </div>
            <div class="back face">
              <p>City:<%=pets[i].city%> </p>
              <p>Age:<%=pets[i].age%></p>
              <p>Birth Year:<%=pets[i].year%></p>
              <p>Breed: <%=pets[i].breed%> </p>
                <br>
                <a href="/adopt">Adopt Now</a>
            </div>
          </div>
       <% } %>
    <% } else{ %>
      <% for(let i=0; i<4; i++) {%>
        <div id="cards">
          <div class="front face">
            <img src="<%=pets[i].image%>" alt="" />
          </div>
          <div class="back face">
            <p>City:<%=pets[i].city%> </p>
            <p>Age:<%=pets[i].age%></p>
            <p>Birth Year:<%=pets[i].year%></p>
            <p>Breed: <%=pets[i].breed%> </p>
              <br>
           <a href="/adopt">Adopt Now</a>
          </div>
        </div>
     <% } %>
    <% } %>
  
    </section>
    <section id="testimonials" data-aos="fade-up">
      <h1>Our Testimonials</h1>
      <div id="quote-mark">
        <img src="/ICONS/left_quote_red-removebg-preview.png" alt="" />
      </div>
      <div id="change-testimonial">
        <img src="/DOODLES/Back arrow.png" alt="" id="back-arrow" />
        <div id="testimonial" class="sakshi">
          <p>
            Stray helper is the best option for adoption of pets they not only lets us adopt any pet but also the pets who have no owners and are wandering in the open
          </p>
          <p id="name">Shivam Sawant</p>
        </div>
        <div id="testimonial" class="swanand hidden">
          <p>
            I would recommend stray helper to all of the animal lovers out there it is he best choice as you are not left alone with the pet their constant updates are one of their inspiring qualities
          </p>
          <p id="name">Shruti Kelkar</p>
        </div>
        <div id="testimonial" class="shrinidhee hidden">
          <p>
            I lost my child in a car accident and adopting an animal was the suggestion given by my councellors then when I came across stray helper i read about the reviews and instantly adopted puff he is the best recovery thank you stray helper.
          </p>
          <p id="name">Ketaki Jadhav</p>
        </div>
        <div id="testimonial" class="neel hidden">
          <p>
            Stray helper is not just any animal adoption website but it is the only one which has prioritized the safety of the animals and their welfare by asking for constant updates about the pet from us and also providing the owners with information of vet docs in ourlocallity
          </p>
          <p id="name">Prathmesh Patil</p>
        </div>
        <div id="testimonial" class="vaishanvi hidden">
          <p>
            I wanted to adopt a modern breed dog but stray helper brout my thoughts back to reality and i was sure that i wanted to adopt one of the stray animals as the lifes they are facing is very dangerous and so i adopted veer who had lost his leg in a car accident and his owners had abondenned him so doing great work stray helper keep going the world needs people like you for a better future
          </p>
          <p id="name">Ajay Deshpande</p>
        </div>
        <img src="/DOODLES/Next Arrow.png" alt="" id="next-arrow" />
      </div>
    </section>
    <h1 id="contact-h1">Contact Us</h1>
    <section id="contact-us" data-aos="fade-up">
      <form action="#" id="contact-form">
        <input type="text" placeholder="Enter Your Name" />
        <input type="email" placeholder="Enter Your Email" />
        <input type="text" placeholder="Enter Your Contact Number" />
        <input type="text" placeholder="Enter Your City" />
        <textarea
          name=""
          id="message"
          cols="30"
          rows="10"
          placeholder="Your Message"
        ></textarea>

        <button id="submit-btn">Submit</button>
      </form>
    </section>
    <section id="newsletter" data-aos="fade-up">
      <h1>Subscribe To Newsletter</h1>
    
       
        <form action="/home" method="post" id="newsletter-email">
          <img src="/ICONS/Email Doodle.png" alt="" />
          <input type="email" name="subs" placeholder="Email Address" />
          <button type="submit">Subscribe</button>
        </form>
     
    </section>
    <script src="JAVASCRIPT/change.js"></script>
    <script src="JAVASCRIPT/counter.js"></script>
   <%-include('partials/footer')%>